# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.development
.env.production

# Build & cache
dist/
build/
.cache/
.DS_Store

# Logs
logs/
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# Local uploads or generated assets
public/qr_codes/
uploads/

# System files
Thumbs.db
